* {
  font-family: 'Raleway', sans-serif;
}

.page {
  overflow: auto;
  display: none;
}

.loginWallpaper {
  background-image: url('assets/images/eyecons-bg.png');
  /*background-size: cover;*/
  /*background-position: center;*/
}

#timerOutput {
  font-size: 28px;
  position: absolute;
  color: #fff;
  margin-top: -150px;
  margin-left: 45px;
  font-family: 'Press Start 2P', cursive;
}

#startButton {
  margin-top: -190px;
  margin-left: 5px;
  width: 80px;
  position: relative;
}

#pauseButton {
  margin-top: -190px;
  margin-left: 25px;
  width: 80px;
  position: relative;
}

#resetButton {
  margin-top: -190px;
  margin-left: 25px;
  width: 80px;
  position: relative;
}

#startButton:focus,
#pauseButton:focus,
#resetButton:focus {
  outline: 0;
}

.container-fluid {
  padding-left: 0;
}

.eyecon-logo {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.pick-name {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  display: block;
}

#loginButton {
  position: relative;
  display: block;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.modal-footer {
  border-top: none;
}

#userName {
  width: 50%;
  margin: auto;
  margin-top: 35px;
  text-align: center;
}

.header-background {
  position: absolute;
  left: 0;
}

.header-foreground {
  position: relative;
}

.game-board {
  width: 646px;
  height: 737px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.75);
}

.tile-spot {
  width: 88px;
  height: 88px;
  float: right;
  border: 1px solid black;
  margin: 2px;
}

.woodenTile {
  background-image: url('assets/images/eyecons-tile-plain-88x88.png');
  height: 100%;
}

.tile-pic {
  border-radius: 5px;
  width: 85%;
  vertical-align: text-top;
  position: relative;
  left: 3px;
  top: 2px;
}
